<% provide(:title, 'Blog') %>

  <div class="container">
    <div class="row">
      <div class="blog-header">
        <div class="blog-title">title</div>
        <div class="lead-blog-description">description</div>
      </div>
      <div class="row">
        <div class="col-sm8">
          <div class="blog-post">
            <div class="blog-post-title">post title</div>
            <blog-post-meta>post meta</blog-post-meta>
          </div>
        </div>
      </div>
    </div>
    

<h1>MainPages#blog</h1>
<p>Find me in app/views/main_pages/blog.html.erb</p>

  </div>

