<% provide(:title, 'Home') %>

<!-- INTRO CAROUSEL -->
<div class="row">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="..." alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>
      ...
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>


<!-- INTRO BLURB -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Intro blurb Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, corporis tenetur perspiciatis. Nam, animi, maiores.</h4>
        <button type="button" class="btn btn-primary" data-toggle="button">Hire Me</button>
      </div>
    </div>
  </div>

<!-- BODY -->
<div class="container">


<!-- THE THREE -->
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="...">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique eos veniam culpa. Adipisci, provident, tempora, sapiente, tempore placeat corporis harum consectetur eligendi magni expedita vero similique possimus incidunt ea aliquid.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="...">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, vel, debitis, totam quasi assumenda ipsum sunt dicta eveniet iusto aut ratione soluta facilis necessitatibus labore numquam perspiciatis facere sint neque.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="...">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, accusamus, est, repudiandae, cum quisquam eveniet tempora delectus nihil natus eligendi laborum corporis molestiae. Neque, ut nobis porro odio non amet!</p>
        </div>
      </div>
    </div>
  </div>

<!-- ME, SKILLS -->
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Me</h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, in, aliquid consequatur expedita rem dolores porro pariatur voluptate quas maxime quasi animi aperiam facilis ducimus maiores nihil harum voluptatem reiciendis.
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Skills</h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, hic, pariatur iste nobis sequi maiores odio unde vel aspernatur repellat esse rerum nulla sunt nostrum reiciendis. Enim, nihil ipsum dolorum?
        </div>
      </div>
    </div>
  </div>

<!-- PROJECTS -->
  <div class="row">
    <div class="page-header">
      <h3>Projects</h3>
    </div>
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="..." alt="...">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, vel, qui, dicta sit necessitatibus placeat voluptates illo corrupti pariatur commodi blanditiis expedita adipisci voluptatem voluptas consequatur nulla minima quasi laudantium.
      </div>
    </div>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="..." alt="...">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, recusandae, atque, quasi ipsam hic id sunt pariatur ad harum distinctio quis numquam reiciendis cum sed ut magni eum dignissimos perferendis.
      </div>
    </div>
  </div>
  <hr></hr>

<!-- EDUCATION, REFERENCES -->
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Education</h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, corrupti, dolorem ea dicta architecto in accusamus necessitatibus eligendi aliquid incidunt at sequi tempora excepturi dolore a id magni. Aperiam, consectetur.
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">References</h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nisi dicta sit minus ex odio sapiente laborum maiores. Labore, commodi perferendis tempore pariatur enim corporis officia vero cum aperiam repellat.
        </div>
      </div>
    </div>
  </div>

<!-- TWITTER -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        Twitter blurrrrrrrrrrrrrrrrrrrb
      </div>
    </div>
  </div>

</div>




