<% provide(:title, 'Portfolio') %>

<!-- INTRO BLURB -->
<div class="jumbotron">
  <div class="container">
    ...
  </div>
</div>

<!-- INTRO BLURB -->
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, in, aliquid consequatur expedita rem dolores porro pariatur voluptate quas maxime quasi animi aperiam facilis ducimus maiores nihil harum voluptatem reiciendis.
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <button type="button" class="btn btn-primary" data-toggle="button">Propose a Project</button>
    </div>
  </div>
  
  <hr></hr>

<div class="container">

<!-- 1st ROW -->
  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="week7personalize.jpg" alt="Fierry Skipper">
          <div class="caption">
            <h4><a href="/week7_personalize/">Personalize Smells Like Bakin'</a></h4>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique eos veniam culpa. Adipisci, provident, tempora, sapiente, tempore placeat corporis harum consectetur eligendi magni expedita vero similique possimus incidunt ea aliquid.</small>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="Pizza Menu Site">
          <div class="caption">
            <h4><a href="/pizzamenu/">Pizza Menu Site</a></h4>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, vel, debitis, totam quasi assumenda ipsum sunt dicta eveniet iusto aut ratione soluta facilis necessitatibus labore numquam perspiciatis facere sint neque.</small>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="...">
          <div class="caption">
            <h4>Thumbnail label</h4>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, accusamus, est, repudiandae, cum quisquam eveniet tempora delectus nihil natus eligendi laborum corporis molestiae. Neque, ut nobis porro odio non amet!</small>
          </div>
        </div>
      </div>
  </div>

<!-- 2nd ROW -->
  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="...">
          <div class="caption">
            <h4>Thumbnail label</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique eos veniam culpa. Adipisci, provident, tempora, sapiente, tempore placeat corporis harum consectetur eligendi magni expedita vero similique possimus incidunt ea aliquid.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="...">
          <div class="caption">
            <h4>Thumbnail label</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, vel, debitis, totam quasi assumenda ipsum sunt dicta eveniet iusto aut ratione soluta facilis necessitatibus labore numquam perspiciatis facere sint neque.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="...">
          <div class="caption">
            <h4>Thumbnail label</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, accusamus, est, repudiandae, cum quisquam eveniet tempora delectus nihil natus eligendi laborum corporis molestiae. Neque, ut nobis porro odio non amet!</p>
          </div>
        </div>
      </div>
  </div>
</div>