body {
  font-family: 'Nunito', sans-serif;
  color: #412c1d;
  background-color: #c8bda7;
  width:1200px;
  height:auto;
  margin: 40px;
  font-weight:normal;
}

a {
  color:#da881e;
  text-decoration: none;
}

a:hover {
  color:#4FB69F;
}

h1 {
  font-size: 0.75em;
  letter-spacing: -1.5px;
  border-bottom: 1px dashed rgb(229, 229, 229);
  text-transform:uppercase;
  font-weight:normal;
}

h2 {
  font-size: 1.500em;
  color: #B4C34F;
}

.btn {
  background-color:transparent;
  /*-- background: #da881e url('../img/newbuttonhover.png') no-repeat right top; --*/
  padding: 3px 10px;
  margin: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #da881e;
  border-top: 1px solid #da881e;
  font-weight:normal;
  color: #000;
  font-size:0.75em;
  text-align:center;
  float:center;
}

.btn:hover {
  background-color: #e8e5e5;
  color: #000;
  border-bottom: 1px solid #bfbdbd;
  border-top: 1px solid #bfbdbd;
}

ul {
  text-align:left;
  list-style:none;
}

li a {
  color: #000;
}

#footer {
  border-top: 2px solid grey;
  padding-top:30px;
  text-align:left;
  bottom:0px;
  position:inherit;
  font-size:0.75em;
  width:98%;
  margin: 0 auto;
}

.panel {
  background-color: white;
  border:1px dotted grey;
}

.right {
  text-align:right;
}
.left {
  text-align:left;
}
.center {
  text-align:center;
}

img {
  margin: 0px 0px -5.5px 0px;
}

#sidebar {
  border-right: 1px solid black;
}

.navbox {
  width: auto;
  height:auto;
  display:block;
  margin:5px 0px;
  padding:2px;
  background-color:transparent;
}

#maincolumn {
  height: 700px;
  padding:5px 5px;
  margin:4px;
  top:0;
  float: right;
  display: inline block;
  position:absolute;
}